:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.work {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: solid 1px #fff;
    text-align: left;
    white-space: pre-wrap;
}

.hint {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.hint.show {
    opacity: 1;
    visibility: visible;
}

.countdown {
    height: 62px;
    margin-bottom: 20px;
    font-size: 62px;
    line-height: 1;
}

.countdown-btns {
    margin-bottom: 20px;
}

.change {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.change::after {
    content: "☠️CHANGE☠️";
    display: block;
    color: hsl(0, 100%, 50%);
    font-size: 240px;
    font-weight: bold;
    transform: rotate(-3deg) scale(0.5);
    animation: 4s ease-out 0s 1 normal rotation;
    outline: 50px solid #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

.change::before {
    content: "CHANGE";
    position: absolute;
    display: block;
    color: #fff;
    font-size: 400px;
    font-weight: bold;
    transform: rotate(-3deg) scale(0.5);
    animation: 4s ease-out 0.1s 1 normal rotation;
    opacity: 0.3;
}

@keyframes rotation {
    0% {
        transform: rotate(-3deg) scale(0.5);
    }
    3% {
        transform: rotate(3deg) scale(0.5);
    }
    6% {
        transform: rotate(-3deg) scale(0.5);
    }
    9% {
        transform: rotate(3deg) scale(0.5);
    }
    12% {
        transform: rotate(-3deg) scale(0.5);
    }
    15% {
        transform: rotate(3deg) scale(0.5);
    }
    18% {
        transform: rotate(-3deg) scale(1);
    }
    21% {
        transform: rotate(3deg) scale(1);
    }
    24% {
        transform: rotate(-3deg) scale(1);
    }
    27% {
        transform: rotate(3deg) scale(1);
    }
    30% {
        transform: rotate(-3deg) scale(1);
    }
    33% {
        transform: rotate(3deg) scale(1);
    }
    36% {
        transform: rotate(-3deg) scale(0.9);
    }
    39% {
        transform: rotate(3deg) scale(0.8);
    }
    42% {
        transform: rotate(-3deg) scale(0.7);
    }
    45% {
        transform: rotate(3deg) scale(0.6);
    }
    48% {
        transform: rotate(-3deg) scale(0.5);
    }
    51% {
        transform: rotate(3deg) scale(0.4);
    }
    60% {
        transform: rotate(1080deg) scale(2);
    }
    70% {
        transform: rotate(1080deg) scale(0.7);
    }
    100% {
        transform: rotate(1077deg) scale(0.5);
    }
}
